<script setup>
import { useRouter } from "vue-router";
import { useStore } from "vuex";

import { apiGetUserHighscore } from "../api/users";
import { onMounted, ref } from "vue";
const router = useRouter();
const store = useStore();


const onContinueClick = () => {
  router.push("/Questions");
};
</script>


<template >
  <form @submit.prevent class="block bg-slate-100 mb-10" id="container">
    <button @click="onContinueClick" id="container" class=" mb-10">
      
      <h1>Get ready for the quiz!</h1>
      <button class="bg-indigo-500 text-white p-4 rounded">
        Click anywhere to continue
      </button>
    </button>
  </form>
</template>

<style>
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#container {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}
</style>