<template>
    <main @submit.prevent class="container mx-auto bg-slate-100 px-4">
        <h1>The Bestest Trivia App</h1>
        <ReadQuestion v-if="currentQuestion" :question="currentQuestion" />
        <AnswerOptions v-if="shuffledAnswers" :answers="shuffledAnswers" />
    </main>
</template>
<script setup>
import ReadQuestion from '../components/ReadQuestion.vue';
import AnswerOptions from '../components/AnswerOptions.vue';
import { onMounted, computed } from 'vue';
import { useRouter } from 'vue-router'
import { useStore } from "vuex"

const store = useStore()
const router = useRouter()


// Session token and questions should only be fetched when starting a new game
onMounted(async () => {
    
    await store.dispatch("fetchQuestionCategories")
})

// Shuffles answers so the position is always random
const shuffle = (array) => {
    let currentIndex = array.length, randomIndex;

    // While there remain elements to shuffle...
    while (currentIndex != 0) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        // And swap it with the current element.
        [array[currentIndex], array[randomIndex]] = [
            array[randomIndex], array[currentIndex]];
    }

    return array;
}

const currentQuestion = computed(() => {
    if (store.state.currentQuestion >= store.state.questions.length) {
        router.push("/results")
        return null
    }
    return store.state.questions[store.state.currentQuestion]
})

const shuffledAnswers = computed(() => {
    if (currentQuestion.value !== null) {
        const answers = [...currentQuestion.value.incorrect_answers]
        answers.push(currentQuestion.value.correct_answer)

        return shuffle(answers)
    } else {
        return []
    }
})
</script>
<style>
</style>