<template>
  <main @submit.prevent class="container mx-auto px-4">
    <h1>Results</h1>
    <h2 class="mb-3 text-2xl" v-if="isNewHighScore">You got a new high score!!</h2>
    <br />
    <h1>
      Your score is {{ score }} points out of a possible
      {{ maximumScore }} points.
    </h1>
    <br />
    <ul>
      <li v-for="item in resultsList" :key="item">
        <div>
          <div
            class="bg-violet-100 p-3 m-1 rounded text-sm"
            v-html="'Question: ' + item[0]"
          ></div>
          <div
            v-if="item[1] != item[2]"
            class="bg-red-200 p-3 m-1 rounded text-sm"
            v-html="
              'Correct answer: ' + item[1] + '<br>' + 'Your answer: ' + item[2]
            "
          ></div>
          <div
            v-else
            class="bg-green-300 p-3 m-1 rounded text-sm"
            v-html="'You answered correctly: ' + item[1]"
          ></div>
          <br />
        </div>
      </li>
    </ul>

    <h1>Thank you for playing!</h1>
    <br />
    <button @click="onResetClick" class="bg-indigo-500 text-white p-4 rounded">
      Start over
    </button>
    <button @click="onLogoutClick" class="bg-indigo-500 text-white p-4 rounded">
      Back to login
    </button>
  </main>
</template>


<script setup>
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { apiGetUserHighscore, apiUpdateUserHighScore } from "../api/users";
const router = useRouter();
const store = useStore();
const score = ref(0);
const maximumScore = ref(0);
const isNewHighScore = ref(false);
const resultsList = ref([]);

onMounted(async () => {
  let scoreCount = 0;
  const pointsPerAnswer = 10;
  //isNewHighScore = store.state.isNewHighScore;
  let questions = store.state.questions;
  let answers = store.state.userAnswers;
  for (let i = 0; i < questions.length; i++) {
    resultsList.value.push([
      questions[i].question,
      questions[i].correct_answer,
      answers[i],
    ]);
    if (questions[i].correct_answer == answers[i]) {
      scoreCount += pointsPerAnswer;
    }
  }
  maximumScore.value = questions.length * pointsPerAnswer;
  score.value = scoreCount;

  let [err, prevHighscore] = await apiGetUserHighscore(store.state.user.username);
  console.log("Prev high score!: " + prevHighscore);
  isNewHighScore.value = (score.value > prevHighscore);

  if (isNewHighScore.value){
     apiUpdateUserHighScore(store.state.user.id, score.value)
  }
});

const amount = ref(10);
const category = ref(9);
const difficulty = ref("easy");
const onResetClick = async () => {
  let questions = store.state.questions;
  amount.value = Math.max(questions.length, 1);
  category.value = findCategoryIndex(questions[0].category);
  difficulty.value = questions[0].difficulty;
  console.log(amount.value, difficulty.value, category.value);

  // TODO: This sometimes leads to no questions being fetched. Presumably because I'm collecting the parameters in a hacky way.
  const err = await store.dispatch("fetchQuestions", {
    amount: amount,
    category: category,
    difficulty: difficulty,
    type: "",
  });
  if (err) {
    alert("Error: " + err);
    return;
  }
  router.push("/GetReady");
};

const findCategoryIndex = (category) => {
  const allCategories = store.state.questionCategories;
  for (let i = 0; i < allCategories.length; i++) {
    if (allCategories[i].name == category) {
      console.log(allCategories[i].id);
      return allCategories[i].id;
    }
  }
  console.log("Couldn't find category.");
  return 9;
};
const onLogoutClick = () => {
  router.push("/");
};
</script>