
<script setup>
import { useRouter } from "vue-router";
import LoginForm from "../components/LoginForm.vue";   // Note: This import is neccessary, even though it might appear to be unused.
import LoginFormVue from "../components/LoginForm.vue";// Note: This import is neccessary, even though it might appear to be unused.
const router = useRouter();
const onAuthSuccess = () => {
  console.log("Completed authorizing the user.")
  router.push("/GetReady");
};
</script>

<template>
  <main class="container mx-auto px-4">
    <h1 class="mb-3 text-2xl">Login</h1>
    <LoginFormVue @onAuthSuccess="onAuthSuccess" />
  </main>
</template>