<template>
<li>
    <button class="bg-yellow-500 p-3 m-1 rounded text-sm" @click="onChoseAnswer" v-html="answer"></button>
</li>
</template>
<script setup>
import { useStore } from "vuex"

const props = defineProps({
    answer: {
        type: String,
        required: true
    }
})

const store = useStore()

const onChoseAnswer = () => {
    store.dispatch("addAnswerToUserAnswers", props.answer)
}
</script>
<style>
    
</style>