<template>
<ul>
    <AnswerButton v-for="answer in answers" :key="answer" :answer="answer" />
</ul>
</template>
<script setup>
import AnswerButton from "./AnswerButton.vue";

const props = defineProps({
    answers: {
        type: Array,
        required: true
    }
})
</script>
<style>
    
</style>