<script setup>
import { onMounted, ref } from "vue";
import { useStore } from "vuex";
import {
  apiFetchQuestionCategories,
  apiFetchQuestions,
  apiFetchSessionToken,
} from "../api/questions";
import {} from "../api/questions";
//
const defaultCategory = "Select a category...";
const store = useStore();
const emit = defineEmits(["onAuthSuccess"]);
const displayError = ref("");
const username = ref("");
const difficulty = ref("easy");
const category = ref(defaultCategory);
const categories = ref([]);
const amount = ref(10);
const dropdownActive = ref(false);
//
const categoryID = ref(9);

onMounted(async () => {
  let error = await store.dispatch("fetchSessionToken");
  if (error !== null) {
    displayError.value = error;
  }
  if (store.user && store.user.username) {
    username.value = store.user.username;
  }
});

const onContinueClick = async () => {
  if (category.value == defaultCategory) {
    alert("Select a category before continuing.");
    return;
  }
  if (amount.value <= 0){
    alert("You must select more than 0 questions.");
    return;
  }
  categoryID.value = categories.value.indexOf(category.value) + 9;
  const questionsError = await store.dispatch("fetchQuestions", {
    amount: amount,
    category: categoryID,
    difficulty: difficulty,
    type: "",
  });
  if (questionsError!==null){
    displayError.value = questionsError;
  }
  if (store.state.questions.length <= 0){
    alert("Sorry, it looks like this category has no questions yet.");
    return;
  }
  
    onSuccess();
};
const onSuccess = async () => {
  let err = store.dispatch("registerLogin", { username });
  if (err) {
    displayError.value = err;
  }
  const questions = store.state.questions;
  console.log(questions);
  emit("onAuthSuccess");
};
const openDropdown = async () => {
  if (categories.value.length == 0) {
    let [catError, categoriesFromAPI] = await apiFetchQuestionCategories();
    for (let c of categoriesFromAPI) {
      categories.value.push(c.name);
    }
  }

  dropdownActive.value = true;
};
const dropdownClick = (choice) => {
  dropdownActive.value = false;
  category.value = choice;
};
const setDifficulty = (value) => {
  difficulty.value = value.toLowerCase();
};
</script>

<template>
  <form @submit.prevent class="block bg-slate-100 mb-3 p-10">
    <fieldset>
      <label for="username" aria-label="Username" class="block">Username</label>

      <input
        type="text"
        id="username"
        placeholder="Ola Normann"
        class="border border-slate-300"
        v-model="username"
      />
    </fieldset>
    <br />
    <fieldset>
      <label for="category" aria-label="Category" class="block">
        Select Category
      </label>
      <button
        v-if="!dropdownActive"
        type="text"
        id="category"
        class="border bg-indigo-100 p-1"
        @click="openDropdown"
        placeholder="Select a category"
      >
        {{ category }}
      </button>
      <div v-if="dropdownActive" class="block border-slate-300 backdrop-blur-0">
        <ul style="column-count: 3">
          <li
            v-for="cat in categories"
            :key="cat"
            class="text-black p-1"
            @click="dropdownClick(cat)"
          >
            <button class="bg-indigo-100 p-1">
              {{ cat }}
            </button>
          </li>
        </ul>
      </div>
    </fieldset>
    <br />
    <fieldset>
      <label
        for="Number of Questions"
        aria-label="Number of Questions"
        class="block"
        >Select Number of Questions</label
      >

      <input
        type="number"
        id="Number of Questions"
        placeholder="0"
        class="border border-slate-300"
        v-model="amount"
      />
    </fieldset>
    <br />
    <fieldset>
      <label for="difficulty" aria-label="Difficulty" class="block"
        >Select Difficulty</label
      >

      <div>
        <button
          v-if="difficulty != 'easy'"
          class="bg-indigo-100 p-2"
          @click="setDifficulty('easy')"
        >
          Easy
        </button>
        <button
          v-if="difficulty == 'easy'"
          class="bg-indigo-500 p-2 text-white"
        >
          Easy
        </button>
        <button
          v-if="difficulty != 'medium'"
          class="bg-indigo-100 p-2"
          @click="setDifficulty('medium')"
        >
          Medium
        </button>
        <button
          v-if="difficulty == 'medium'"
          class="bg-indigo-500 p-2 text-white"
        >
          Medium
        </button>
        <button
          v-if="difficulty != 'hard'"
          class="bg-indigo-100 p-2"
          @click="setDifficulty('hard')"
        >
          Hard
        </button>
        <button
          v-if="difficulty == 'hard'"
          class="bg-indigo-500 p-2 text-white"
        >
          Hard
        </button>
      </div>
    </fieldset>
    <br />
    <br />
    <button
      @click="onContinueClick"
      class="bg-indigo-500 text-white p-4 rounded"
    >
      Continue
    </button>
  </form>

  <div v-if="displayError" class="bg-red-500 p-3">
    <span class="text-lg block mb-3 text-white">Error</span>
    <p class="text-white">{{ displayError }}</p>
  </div>
</template>