<template>
<div class="shadow rounded block mb-3">
    <h1 v-html="question.category"></h1>
    <span v-html="question.question"></span>
</div>
</template>
<script setup>
const props = defineProps({
    question: {
        type: Object,
        required: true
    }
})
</script>
<style>
    
</style>