<script setup>

</script>

<template>
<div>

  <h1>~ The Trivia Game ~</h1>
  <router-view></router-view>

</div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
  
    height:100%;
    min-height:100%;
    min-width: 100%;
}
</style>